DOMAIN=https://{{ vaultwarden_domain }}
SIGNUPS_ALLOWED=false
ADMIN_TOKEN={{ vw_hashed_token.stdout | trim }}
LOG_FILE=/data/vaultwarden.log
LOG_LEVEL=warn
SENDS_ALLOWED=true
EMERGENCY_ACCESS_ALLOWED=true
{% if vaultwarden_smtp_host | default('') | length > 0 %}
SMTP_HOST={{ vaultwarden_smtp_host }}
SMTP_PORT={{ vaultwarden_smtp_port | default('587') }}
SMTP_SECURITY={{ vaultwarden_smtp_security | default('starttls') }}
SMTP_USERNAME={{ vaultwarden_smtp_username }}
SMTP_PASSWORD={{ vaultwarden_smtp_password }}
SMTP_FROM={{ vaultwarden_smtp_from }}
{% endif %}
